*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body{
    height: 100vh;
    width: 100vw;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bg{
    z-index: -1;
    position: absolute;
    height: 100%;
    width: 100%;
    background-image:url(images/bg.jpg) ;
    background-position: center;
    background-size:cover ;
    background-repeat:no-repeat ;
    filter: blur(3px);
}

